include mixins
extends layout

block append content
  div.container
    div.col-md-6.col-md-offset-3
      p hello world ! 
      p
      button(type="button" class="btn btn-success" id="show-metrics") Bring the metrics 
      #metrics

  script
    :coffee-script
      $('#show-metric').click (e) ->
        e.preventDefault()
        $.getJSON "/metrics.json", {}, (data) ->
          content = ""
          for d in data
            content += "timestamp: #{d.timestamp}, value: #{d.value}"
            $('#metrics').append content
      
      $('#show-metric').click (e) ->
        e.preventDefault()
        $.getJSON "/my_metrics.json", {}, (data) ->
          content = ""
          content += data
          $('#metrics').append content
          
      $('#show-metrics').click (e) ->
        e.preventDefault()
        $.getJSON "/my_many_metrics.json", {}, (data) ->
          content = 'test :'+data + ' '
          $('#metrics').append content
