include mixins
extends layout

block content
  div.container.forms
    .row
      #realContent.col-xs-12
        .row
          .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-xs-12.col-sm-offset-0
            h1(style="text-align:center") Sign Up
        .row
          section.col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-xs-12.col-sm-offset-0
            .well.well-lg
              .row
                .col-xs-12
                  form#signupForm(method='POST', action='/signup', accept-charset='UTF-8')
                    fieldset
                      .input-group
                        span.input-group-addon
                          i.fa.fa-user(aria-hidden='true')
                        input#username.form-control.input-lg(placeholder='Username', required='required', maxlength='100', type='text', name='username', value='',autofocus='')
                      .input-group
                        span.input-group-addon
                          i.fa.fa-asterisk(aria-hidden='true')
                        input#password.form-control.input-lg(placeholder='Password', required='required', maxlength='60', type='password', name='password')
                      .input-group
                        span.input-group-addon
                          i.fa.fa-asterisk(aria-hidden='true')
                        input#confirmPassword.form-control.input-lg(placeholder='Confirm Password', required='required', maxlength='60', type='password', name='confirmPassword')
                      .form-group
                        button#btn-signup.btn.btn-block.btn-primary.btn-lg(type='submit') Sign Up
                    .form-group
                      .topCushion
                        | Already a member? 
                        a(href='/login') Login
                    
  script.
    $('#signupForm').bootstrapValidator({
    feedbackIcons: {
        valid: 'glyphicon glyphicon-ok',
        invalid: 'glyphicon glyphicon-remove',
        validating: 'glyphicon glyphicon-refresh'
    },
    fields: {
      password: {
                validators: {
                    identical: {
                        field: 'confirmPassword',
                        message: 'The password and its confirm are not the same'
                    }
                }
            }
        }
    })
    .on('success.form.bv', function(e) {
        $('#success_message').slideDown({ opacity: "show" }, "slow") // Do something ...
            $('#signupForm').data('bootstrapValidator').resetForm();
        // Prevent form submission
        e.preventDefault();
        // Get the form instance
        var $form = $(e.target);
        // Get the BootstrapValidator instance
        var bv = $form.data('bootstrapValidator');
        // Use Ajax to submit form data
        $.post($form.attr('action'), $form.serialize(), function(result) {
            console.log(result);
        }, 'json');
    });
                      
