include mixins
extends layout

block content
  div.container.forms
    .row
      #realContent.col-xs-12
        .row
          .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-xs-12.col-sm-offset-0
            h1(style="text-align:center") Sign Up
        .row
          section.col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-xs-12.col-sm-offset-0
            .well.well-lg
              .row
                .col-xs-12
                  form#signupForm(action='/signup', method="post", accept-charset='UTF-8')
                    fieldset
                      .input-group
                        span.input-group-addon
                          i.fa.fa-user(aria-hidden='true')
                        input#username.form-control.input-lg(placeholder='Username', required='required', maxlength='100', type='text', name='username', value='',autofocus='')
                      .input-group
                        span.input-group-addon
                          i.fa.fa-asterisk(aria-hidden='true')
                        input#password.form-control.input-lg(placeholder='Password', required='required', maxlength='60', type='password', name='password')
                      .input-group
                        span.input-group-addon
                          i.fa.fa-asterisk(aria-hidden='true')
                        input#confirmPassword.form-control.input-lg(placeholder='Confirm Password', required='required', maxlength='60', type='password', name='confirmPassword')
                      .form-group
                        button#btn-signup.btn.btn-block.btn-primary.btn-lg(type='submit') Login
                    .form-group
                      .topCushion
                        | Already a member? 
                        a(href='/login') Login
                        
  script.
    $('#signupForm').bootstrapValidator({
    feedbackIcons: {
        valid: 'glyphicon glyphicon-ok',
        invalid: 'glyphicon glyphicon-remove',
        validating: 'glyphicon glyphicon-refresh'
    },
    fields: {
      confirmPassword: {
                validators: {
                    identical: {
                        field: 'password',
                        message: 'The password and its confirm are not the same'
                    }
                }
            }
        }
    });
    
  
