body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
  width: 75%;
}
.container{
  width: 100%;
}
.forms{
  width: 80%;
}
text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: orange;
}

.bar:hover {
  fill: orangered ;
}

.x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
#dropdown_menu{
  float: right;
}

.center {
  text-align: center;
}
.bac{
  background-color: #E1E1E1;
}
#success_message{ display: none;}

.form-group{
  margin-right: 10px!important;
}
.wrapper {
	margin-top: 80px;
  margin-bottom: 80px;
}


/* BS3 using input group icons from Font-Awesome 3.2.1 */

/* no need for any margin/padding for headings when using WELL */
.well h3 {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 20px;
}
#signupForm .input-group {
    margin-bottom: 20px;
}

#login .input-group {
    margin-bottom: 20px;
}

/* get font-awesome to work with BS3 */
.input-group-addon .icon-2x {
    width: 28px;
    min-width: 28px;
    display: inline-block;
}

.inline-block > li {
    position: relative;
    display: inline-block;
    margin: 0 10px 10px 0;
}
